@inherits LayoutComponentBase
<div class="relative flex flex-col md:flex-row">
    <div class="bg-gradient-to-b from-[rgb(5,39,103)] to-[#3a0647] md:w-[250px] md:h-screen md:sticky md:top-0">
        <NavMenu/>
    </div>
    <main class="flex-1">
        <div
            class="h-14 flex items-center justify-between bg-gray-100 border-b border-gray-300 px-4 md:px-8 md:pr-6 md:justify-end md:sticky md:top-0 md:z-10">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank"
               class="whitespace-nowrap hover:underline overflow-hidden overflow-ellipsis">
                About
            </a>
        </div>
        <article class="px-4 md:px-8 md:pr-6">
            @Body
        </article>
    </main>
</div>
<div id="blazor-error-ui" data-nosnippet
     class="fixed bottom-0 left-0 w-full bg-yellow-200 p-3 box-border shadow-md z-50 hidden">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="absolute right-3 top-2 cursor-pointer">🗙</span>
</div>